

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 70vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.floating-button{
    position: fixed; 
    bottom: 20px; 
    right: 20px;
}